.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--tg-theme-button-color);
    /*border: 1px solid #2098d4;*/
    padding: 15px;
    width: 170px;
}

.title {
    margin-bottom: 0.5em;
}

.img {
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    background: var(--tg-theme-bg-color);
    /*background: lightgrey;*/
    /*background: #2098d4;*/
}

.description {
    font-size: 0.8em;
    margin-bottom: 0.8em;
}

.add-btn {
    width: 100px;
}